<h4>Detalles de Cuadrilla: {{ cuadrilla_data.nombre_cuadrilla }}</h4>
<hr/>

<p><strong>Nombre Cuadrilla:</strong>
   <input type="text" value="{{ cuadrilla_data.nombre_cuadrilla }}" readonly style="border:none; background:transparent;">
</p>

<p><strong>Departamento:</strong>
   <input type="text" value="{{ cuadrilla_data.departamento.nombre_departamento }}" readonly style="border:none; background:transparent;">
</p>

<p><strong>Jefe Asignado:</strong>
   <input type="text" value="{{ cuadrilla_data.jefe.get_full_name|default:'Sin asignar' }}" readonly style="border:none; background:transparent;">
   {% if cuadrilla_data.jefe %}
   ({{ cuadrilla_data.jefe.email }})
   {% endif %}
</p>

<p><strong>Estado:</strong>
   <input type="text" value="{{ cuadrilla_data.state }}" readonly style="border:none; background:transparent;">
</p>

<p><strong>Fecha Creación:</strong>
   <input type="text" value="{{ cuadrilla_data.created|date:'d/m/Y H:i' }}" readonly style="border:none; background:transparent;">
</p>

<p><strong>Última Actualización:</strong>
   <input type="text" value="{{ cuadrilla_data.updated|date:'d/m/Y H:i' }}" readonly style="border:none; background:transparent;">
</p>

<br>
<a href="{% url 'cuadrilla_list' %}">Volver a la Lista</a> 

